@use "./../../../../../app/shared/scss/templates/" as *;

$navUnderlineWidth: 4px;

section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 $sectionPaddingVertical $sectionPaddingVertical
    $sectionPaddingVertical;
}

.bottom {
  background-color: $primary;
  color: $background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  clip-path: polygon(0 0, 100% clamp(3rem, 8vw, 10rem), 100% 100%, 0 100%);
  padding: $mainPaddingHorizontal;
  padding-top: clamp(3rem, 4vw, 6rem);

  gap: 2rem;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.contact {
  align-self: flex-start;

  .sectionHeader {
    @include sectionHeader();
  }

  .mail {
    @include sectionText();
    @include underlineHighlight();

    &:hover {
      color: $highlight;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

a {
  color: $background;
}

.socialContainer {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  transition: 0.2s;

  a:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(4288%)
      hue-rotate(359deg) brightness(101%) contrast(105%);
  }

  img {
    height: 24px;
    width: 24px;
  }
}

@media (max-height: 500px) {
  section {
    justify-content: flex-start;
  }

  nav {
    padding-bottom: 1rem;
  }

  .bottom {
    margin-top: 1rem;
    clip-path: none;
    padding-top: 1rem;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include navbarHeaders();
  padding: clamp(3rem, 6vw, 6rem) 0;
  gap: 2rem;

  span {
    position: relative;
    cursor: pointer;

    &:hover {
      color: $highlight;
    }

    &::before {
      content: "";
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &::before {
      width: 100%;
      height: 100%;
      border: $navUnderlineWidth $primary solid;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -$navUnderlineWidth;
      border-bottom: $navUnderlineWidth solid $primary;
      animation-name: fadeOut;
      animation-duration: 200ms;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }

    &:active::before,
    &:hover::after {
      opacity: 1;
    }

    &:hover::after {
      animation-name: fadeIn;
    }
  }
}

@keyframes fadeIn {
  0% {
    height: 50%;
    width: 12.5%;
    left: -$navUnderlineWidth;
  }

  30% {
    height: $navUnderlineWidth;
    width: 60%;
    left: -$navUnderlineWidth;
  }

  100% {
    height: $navUnderlineWidth;
    width: 30%;
    left: calc(70% + $navUnderlineWidth);
  }
}

@keyframes fadeOut {
  0% {
    height: $navUnderlineWidth;
    width: 30%;
    left: 70%;
  }

  70% {
    height: $navUnderlineWidth;
    width: 60%;
    left: -$navUnderlineWidth;
  }

  100% {
    border-left: $navUnderlineWidth solid $primary;
    height: 50%;
    width: 12.5%;
    left: -$navUnderlineWidth;
  }
}
