@use "./../../../../../app/shared/scss/templates/" as *;

section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 $sectionPaddingVertical $sectionPaddingVertical
    $sectionPaddingVertical;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include navbarHeaders();
  padding-bottom: $sectionPaddingVertical;
  padding-top: clamp(3rem, 6vw, 6rem);
}

.bottom {
  background-color: $primary;
  color: $background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  clip-path: polygon(0 0, 100% clamp(3rem, 8vw, 10rem), 100% 100%, 0 100%);
  padding: $mainPaddingHorizontal;
  padding-top: clamp(3rem, 4vw, 6rem);

  gap: 2rem;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.contact {
  align-self: flex-start;

  .sectionHeader {
    @include sectionHeader();
  }

  .mail {
    @include sectionText();
    @include underlineHighlight();

    &:hover {
      color: $highlight;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

a {
  color: $background;
}

.socialContainer {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  transition: 0.2s;

  a:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(4288%)
      hue-rotate(359deg) brightness(101%) contrast(105%);
  }

  img {
    height: 24px;
    width: 24px;
  }
}

@media (max-height: 500px) {
  section {
    justify-content: flex-start;
  }

  nav {
    padding-bottom: 1rem;
  }

  .bottom {
    margin-top: 1rem;
    clip-path: none;
    padding-top: 1rem;
  }
}
