<header>
    <img src="/assets/img/dhlogo.png" alt="">

    <div class="menuContainer">
        <div class="languages">
            <span (click)="switchLanguage('en')" [class.activeLanguage]="activeLanguage === 'en'">eng</span>
            <div class="stroke"></div>
            <span (click)="switchLanguage('de')"[class.activeLanguage]="activeLanguage === 'de'">de</span>
        </div>

        <button popovertarget="popover">
            click
        </button>

        <app-popover id="popover" popover="manual"></app-popover>
    </div>

</header>
