@use "./../../scss/templates/" as *;

header {
  width: 100%;
  @include dFlex(space-between);
  position: sticky;
  top: 0;
  background-color: $background;
  padding: 0 $mainPaddingHorizontal;
  max-width: 1440px;
  z-index: $zIndexHeader;
  height: var(--headerHeight);

  .logo {
    @include logo();
  }
}

.menuContainer {
  @include dFlex($gap: 16px);

  .languages {
    display: flex;
    gap: 8px;
    transition: 0.2s;

    span:hover {
      color: $highlight;
      cursor: pointer;
      transform: scale(1.1);
    }

    div {
      width: 1px;
      height: 20px;
      background-color: $highlight;
    }
  }

  button {
    border: none;
    padding: 0;
    background-color: unset;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.activeLanguage {
  color: $highlight;
}

.popover-container {
  position: fixed;
  top: var(--headerHeight);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $background;
  z-index: $zIndexPopover;
  transition: opacity 125ms, visibility 125ms;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.popover-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    animation: fadeInScale 125ms forwards ease-in-out;
  }

  &.popover-close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  99% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    visibility: hidden;
  }
}
