@use "./../../scss/templates/" as *;

header {
    width: 100%;
    @include dFlex(space-between);
    position: sticky;
    top: 0px;
    background-color: $background;
    padding: 1rem;
    max-width: 1440px;

    > img {
        height: 40px;
        width: 40px;
    }
}
