<section>
  <h2>{{ "portfolio.title" | translate }}</h2>

  <div class="textContainer">
    <span>{{ "portfolio.paragraph1.part1" | translate }}</span>
    <br /><br />
    <span>{{ "portfolio.paragraph1.part2" | translate }}</span>
    <a [href]="'portfolio.paragraph1.url' | translate" target="_blank" rel="noopener noreferrer">{{ "portfolio.paragraph1.highlight" | translate }}</a>
  </div>

  <div class="projectContainer">
    @for (project of projects; track project.name; let i = $index) {

        <div class="singleProject">
            <div class="number">0{{ i + 1 }}/0{{ projects.length }}</div>

            <div class="project">
                <div class="media">
                    <img src="{{ project.media }}" alt="" />
                </div>

                <div class="info">
                    <div class="infoText">
                        <div>{{ project.name }}</div>
                        <span>{{ project.tech }}</span>
                        <p>{{ project.description | translate }}</p>
                    </div>

                    <div class="btns">
                        <a class="projectBtn" href="{{ project.github }}" target="_blank" rel="noopener noreferrer">Github</a>
                        <a class="projectBtn" href="{{ project.website }}" target="_blank" rel="noopener noreferrer">Live</a>
                    </div>
                </div>
            </div>
        </div>
    }
  </div>
</section>
