@use "./../../../app/shared/scss/templates/" as *;

section {
  padding: $sectionPaddingTopBottom;
  display: flex;
  flex-direction: column;

  .sectionHeader {
    @include sectionHeader();
    margin-bottom: clamp(2rem, 2vw, 3rem);
  }
}

.textContainer {
  max-width: 60rem;

  span {
    @include sectionText();
  }

  a {
    @include sectionText();
    color: $highlight;
    display: inline-block;
    position: relative;
    transition: 0.2s;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $highlight;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 4vw, 4rem);
  margin-top: clamp(1.5rem, 4vw, 4rem);
}

.singleProject {
  gap: clamp(1rem, 2vw, 2rem);
  display: flex;
  flex-direction: column;

  .number {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include projectNumber();
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 4vw, 8rem);

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &:nth-of-type(odd) {
    .number {
      justify-content: flex-start;
    }

    .project {
      @media (min-width: 992px) {
        flex-direction: row-reverse;
      }
    }
  }
}

.media {
  display: flex;
  justify-content: center;

  img {
    height: $portfolioMediaSize;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  max-width: 30rem;

  .infoText {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      @include projectHeader();
    }

    span {
      @include projectTech();
      color: $highlight;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .projectBtn {
    @include button();
  }
}
