@use "./../../../app/shared/scss/templates/" as *;

section {
  margin: 3rem 0;
  width: 100%;

  > h2 {
    @include sectionHeader();
  }

  > .imgContainer {
    background-image: url(./../../../assets/img/photo.png);
    width: $photo;
    height: $photo;
    background-size: cover;
    background-position: center;
  }
}

p {
  @include sectionText();
}

.infoContainer {
  @include dFlex($jc: flex-start, $gap: 8px);
}
