<section>
  <h2>{{ "about.title" | translate }}</h2>

  <div class="wrapper">

    <div class="textContainer">
      <p>
        <span>{{ "about.intro" | translate }}</span
        ><br />
        {{ "about.paragraph1.part1" | translate }}
        <span>{{ "about.paragraph1.highlight" | translate }}</span>
        {{ "about.paragraph1.part2" | translate }} <br />

        <span>{{ "about.paragraph2.highlight" | translate }}</span>
        {{ "about.paragraph2.part2" | translate }} <br />

        {{ "about.paragraph3.part1" | translate }}
        <span>{{ "about.paragraph3.highlight" | translate }}</span>
        {{ "about.paragraph3.part2" | translate }} <br /><br />

        {{ "about.outro" | translate }}
      </p>

      <div class="infoContainer">
        <div class="singleInfo">
          <img draggable="false" src="/assets/icons/home.svg" alt="" />
          {{ "about.home" | translate }}
        </div>

        <div class="singleInfo">
          <img draggable="false" src="/assets/icons/remote.svg" alt="" />
          {{ "about.remote" | translate }}
        </div>
      </div>
    </div>

    <div class="imgContainer"></div>
  </div>

</section>
