<section #aboutSection id="aboutSection">
  <h2 class="sectionHeader">{{ "about.title" | translate }}</h2>

  <span>{{ "about.slogan" | translate }}</span>

  <div class="wrapper">

    <div class="textContainer">
      <p>
        <span class="intro">{{ "about.intro" | translate }}</span><br />

        {{ "about.paragraph1.part1" | translate }}
        <span class="highlight">{{ "about.paragraph1.highlight" | translate }}</span>
        {{ "about.paragraph1.part2" | translate }} <br /><br />

        {{ "about.paragraph2.part1" | translate }}
        <span class="highlight">{{ "about.paragraph2.highlight" | translate }}</span>
        {{ "about.paragraph2.part2" | translate }} <br />


        {{ "about.paragraph3.part1" | translate }}
        <span class="highlight">{{ "about.paragraph3.highlight" | translate }}</span>
        {{ "about.paragraph3.part2" | translate }}<br /><br />

        {{ "about.outro" | translate }}
      </p>

      <div class="infoContainer">

        <div class="singleInfo">
          <img draggable="false" src="./assets/icons/home.svg" alt="" />
          <span>{{ "about.home" | translate }}</span>
        </div>
        <div class="singleInfo">
          <img draggable="false" src="./assets/icons/remote.svg" alt="" />
          <span>{{ "about.remote" | translate }}</span>
        </div>
      </div>
    </div>

    <div class="imgContainer"></div>
  </div>

</section>
