$background: #FFFCF3;
$primary: #181818;
$details: #f1dbc7;
$highlight: #FF9900;

$headerHeight: 5rem;

$headlineFs: clamp(2rem, 6vw, 8rem);
$nameFs: clamp(1.5rem, 4vw, 3rem);
$sectionHeaderFs: clamp(1.5rem, 5vw, 4.875rem);
$sectionTextFs: clamp(1rem, 2vw, 1.375rem);

$photo: clamp(16rem, 40vw, 24rem);

$border: 4px solid $primary;

$mainPadding: 0 clamp(0.75rem, 4vw, 6rem);
$footerPadding: clamp(0.75rem, 2vw, 2rem) clamp(0.75rem, 4vw, 6rem);
$sectionPaddingTopBottom: clamp(1rem, 2vw, 2rem) 0;

$skillIcons: clamp(3.75rem, 7vw, 8rem);
