@use "./../../app/shared/scss/templates/" as *;

section {
  padding: $legalpadding;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vh, 4rem);
  @include sectionText();
}

.imprint {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vh, 4rem);
  max-width: 1000px;

  h2 {
    @include imprintHeader();
    width: fit-content;
  }

  .notes {
    padding-top: 1rem;

    h3 {
      @include subheaderName();
    }
  }
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 4vh, 4rem);

  h2 {
    @include legalHeader();
    width: fit-content;
  }
}

address {
  font-style: normal;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  img {
    display: flex;
    height: 100%;
    transform: rotate(-90deg) translateY(25%);
    transform-origin: bottom;
    transition: all 0.325s ease-in-out;
    @include highlightFilter();

    &:hover {
      transform: rotate(-90deg) translateY(0);
    }
  }
}
