@use "./../../app/shared/scss/templates/" as *;

section {
  padding: $mainPadding;
  padding-top: clamp(1rem, 4vw, 6rem);
  height: fit-content;

  > h2 {
    @include sectionHeader();
    padding: clamp(1rem, 4vw, 6rem) 0;
  }
}

address {
  font-style: normal;
  padding-bottom: clamp(6rem, 12vw, 18rem);
}
