<section #heroSection id="heroSection">
  <div class="atf">
    <h1>
      Frontend <br/>
      Developer
    </h1>

    <div class="nameContainer">
      <div class="stroke"></div>
      <h3 class="rotate">
        <span>D</span>
        <span>a</span>
        <span>v</span>
        <span>i</span>
        <span>d</span>
        <span style="display: inline-block">&nbsp;</span>
        <span>H</span>
        <span>o</span>
        <span>f</span>
        <span>e</span>
        <span>r</span>
      </h3>
    </div>
  </div>

  <button (click)="scrollToSection('#footerSection')">
    {{ "about.button" | translate }}
  </button>

  <div class="cta">
    <a class="mail" [href]="'mailto:' + ('myData.mail.mailaddress' | translate) + '?subject=' + ('myData.mail.mailText' | translate)">{{ "myData.mail.mailaddress" | translate }}</a>

    <div class="scrolldownContainer" (click)="scrollToSection('#aboutSection')">
      <div class="arrowContainer">
        <img draggable="false" src="./assets/icons/arrowHero.svg" alt="Arrow" />
      </div>

      <div class="arrowText">
        <span>Scroll</span>
        <span>down</span>
      </div>
    </div>
  </div>
</section>
