<section>

    <div class="atf">
        <h1>Frontend <br>
        Developer</h1>

        <div class="nameContainer">
            <div class="stroke"></div>
            <h2>David Hofer</h2>
        </div>
    </div>


    <button>{{ "about.button" | translate }}</button>


    <div class="cta">

        <a class="mail" href="mailto:info@davidhofer.com?subject=Hey David, I have an idea to discuss!">info&#64;davidhofer.com</a>

        <div class="scrolldownContainer">
            <div class="arrowContainer">
                <img src="/assets/icons/arrowHero.png" alt="">
            </div>

            <div class="arrowText">
                <span>Scroll</span>
                <span>down</span>
            </div>
        </div>

    </div>

</section>
