@use "./../../../app/shared/scss/templates/" as *;

section {
  height: calc(100dvh - $headerHeight);
  @include dFlex($jc: space-evenly, $fd: column);
}

.atf {
  @include dFlex($fd: column);

  > h1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: $text;
    font-family: 'Syne';
    font-weight: 800;
    font-size: $headerFs;
  }
}

.nameContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  font-size: $nameFs;
  font-weight: 700;
  color: $highlight;
  padding: 0 4%;

  > .stroke {
    height: 2px;
    background-color: $text;
    flex-grow: 1;

    @media (max-width: 425px) {
      display: none;
    }
  }
}

.cta {
  width: 100%;
  @include dFlex($jc: space-between);

  > a {
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    &:hover {
      color: $highlight;
    }
  }

  > .scrolldownContainer {
    @include dFlex($fd: column, $gap: 8px);


    > .arrowContainer {
      overflow: hidden;
      height: 120px;

      > img {
        height: 120px;
        // animation: scrollArrow 3s infinite;
      }
    }

    > .arrowText {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
