@use "./../../../app/shared/scss/templates/" as *;

section {
  height: calc(100dvh - $headerHeight);
  @include dFlex($jc: space-evenly, $fd: column);
}

.atf {
  @include dFlex($fd: column);

  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    @include header();
  }
}

.nameContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  padding: 0 4%;
  @include subheaderName();

  .stroke {
    height: 2px;
    background-color: $primary;
    flex-grow: 1;

    @media (max-width: 425px) {
      display: none;
    }
  }
}

button {
  @include button();
}

.cta {
  width: 100%;
  @include dFlex($jc: space-between);
}

a {
  @include sectionText();
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: $highlight;
  display: inline-block;
  position: relative;
  transition: 0.2s;

  &:hover {
    color: $highlight;
  }

  &:after {
    content: "";
    writing-mode: vertical-rl;
    position: absolute;
    width: 2px;
    transform: scaleY(0);
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $highlight;
    transform-origin: top left;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleY(1);
    transform-origin: bottom left;
  }
}

.scrolldownContainer {
  @include dFlex($fd: column, $gap: 8px);
  cursor: pointer;

  .arrowContainer {
    overflow: hidden;
    height: 120px;

    img {
      height: 120px;
      animation: scrollArrow 2.5s infinite;
    }
  }

  .arrowText {
    @include sectionText();
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
