@use "./../../../../../app/shared/scss/templates/" as *;

form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 1.5rem;
}

input[type="text"], [type="email"], textarea {
  width: 100%;
  padding: 12px;
  resize: none;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $background;
  outline: none;
  font-size: 1rem;
  font-family: "Overpass";
  color: $background;

  &::placeholder {
    color: $background;
  }
}

.privacyContainer {
  display: flex;
  gap: 8px;
  font-size: 0.875rem;
}

.privacy {
  color: $highlight;
}



/* Style the submit button with a specific background color etc */
input[type="submit"] {
  // @include button();
  // background-color: #94eecd;
  // color: rgb(0, 0, 0);
  // padding: 12px 20px;
  // border: none;
  // border-radius: 4px;
  // cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}





// span {
//   color: red;
// }
