<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>{{ 'contact.contactForm.name.placeholder' | translate }}</legend>
    <div class="inputWrapper">
      <input id="name" type="text" formControlName="name" [placeholder]="( 'contact.contactForm.name.placeholder' | translate )">
      <img *ngIf="registrationForm.get('name')?.touched" [src]="registrationForm.get('name')?.valid ? 'assets/icons/checkmark.png' : 'assets/icons/exclamationmark.png'" class="statusIcon" alt="">
    </div>
  </fieldset>
  @if ((registrationForm.get('name')?.errors?.['required'] || registrationForm.get('name')?.errors?.['minlength']) && registrationForm.get('name')?.touched) {
    <span class="errorMsg">{{ 'contact.contactForm.name.validation' | translate }}</span>
  }


  <fieldset>
    <legend>{{ 'contact.contactForm.mail.placeholder' | translate }}</legend>
    <div class="inputWrapper">
      <input id="email" type="email" formControlName="email" [placeholder]="( 'contact.contactForm.mail.placeholder' | translate )">
      <img *ngIf="registrationForm.get('email')?.touched" [src]="registrationForm.get('email')?.valid ? 'assets/icons/checkmark.png' : 'assets/icons/exclamationmark.png'" class="statusIcon" alt="">
    </div>
  </fieldset>
  @if (registrationForm.get('email')?.errors?.['required'] && registrationForm.get('email')?.touched) {
    <span class="errorMsg">{{ 'contact.contactForm.mail.validation' | translate }}</span>
  }


  <fieldset>
    <legend>{{ 'contact.contactForm.message.placeholder' | translate }}</legend>
    <div class="inputWrapper">
      <textarea id="message" type="text" formControlName="message" [placeholder]="( 'contact.contactForm.message.placeholder' | translate )"></textarea>
      <img *ngIf="registrationForm.get('message')?.touched" [src]="registrationForm.get('message')?.valid ? 'assets/icons/checkmark.png' : 'assets/icons/exclamationmark.png'" class="statusIcon" alt="">
    </div>
  </fieldset>
  @if ((registrationForm.get('message')?.errors?.['required'] || registrationForm.get('message')?.errors?.['minlength']) && registrationForm.get('message')?.touched) {
    <span class="errorMsg">{{ 'contact.contactForm.message.validation' | translate }}</span>
  }


  <label class="privacyContainer">
    <input type="checkbox" formControlName="checkbox" (change)="onCheckboxChange()">
    <img [src]="registrationForm.get('checkbox')?.value ? 'assets/icons/checkboxChecked.svg' : 'assets/icons/checkbox.svg'"
         alt="checkbox" draggable="false">
    <div>
      <span>{{ 'contact.contactForm.privacy.part1' | translate }}</span>
      <a class="privacy" href="privacy">{{ 'contact.contactForm.privacy.part2' | translate }}</a>
      <span>{{ 'contact.contactForm.privacy.part3' | translate }}</span>
    </div>
  </label>

  <button type="submit" [disabled]="!registrationForm.valid || !registrationForm.get('checkbox')?.value">{{ 'contact.contactForm.button' | translate }}</button>

</form>
