<footer #footerSection id="footerSection">

    <h2 class="sectionHeader">{{ "contact.title" | translate }}</h2>


    <div class="contact">
        <div class="intro">
            {{ "contact.intro" | translate }}
        </div>

        <div class="description">
            {{ "contact.description" | translate }}
        </div>

        <app-contactform></app-contactform>
    </div>


    <a class="arrow" (click)="scrollToSection('#heroSection')" draggable="false">
        <img src="assets/icons/arrowFooter.svg" alt="" />
    </a>


    <div class="bottomContainer">
        <div class="logoContainer">
            <img class="logo" (click)="scrollToSection('#heroSection')" src="assets/img/dhlogo.png" draggable="false" alt="logo">
            <span>©David Hofer</span>
        </div>

        <div class="links">
            <div class="socialContainer">
                <a [href]="( 'myData.github' | translate )" target="_blank" rel="noopener noreferrer"><img draggable="false" src="./assets/icons/github.svg" alt=""></a>
                <a [href]="'mailto:' + ( 'myData.mail.mailaddress' | translate ) + '?subject=' + ( 'myData.mail.mailText' | translate )"><img draggable="false" src="./assets/icons/mail.svg" alt=""></a>
                <a [href]="('myData.linkedin' | translate )" target="_blank" rel="noopener noreferrer"><img draggable="false" src="./assets/icons/linkedin.svg" alt=""></a>
            </div>

            <a routerLink="/home" href="imprint" class="imprint">{{ "imprint.title" | translate }}</a>
        </div>
    </div>

</footer>
