@use "./../../../../app/shared/scss/templates/" as *;

footer {
  padding: $footerPadding;
  gap: $gapSmallInSection;
  background-color: $primary;
  color: $background;
  width: 100%;
  margin: 0 auto;
  clip-path: polygon(0 0, 100% clamp(3rem, 8vw, 12rem), 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  position: relative;

  .sectionHeader {
    @include sectionHeader();
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  div {
    text-align: center;
  }

  .intro {
    color: $highlight;
    font-size: clamp(1.5rem, 3vw, 2rem);
  }

  .description {
    font-size: 1.25rem;
  }
}

.bottomContainer {
  @include dFlex($jc: space-between);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;

  .logo {
    @include logo();
  }
}

.links {
  @include dFlex($fd: column, $gap: 8px);

  .socialContainer {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  a img {
    height: 24px;
    width: 24px;
  }

  .imprint {
    cursor: pointer;
    color: $background;
    @include underlineHighlight();

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.socialContainer {
  transition: 0.2s;

  a:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(66%) sepia(34%) saturate(4288%) hue-rotate(359deg) brightness(101%) contrast(105%);
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: clamp(10rem, 13vw, 15rem);
  right: clamp(0.75rem, 7vw, 6rem);

  img {
    height: 100%;
    transform-origin: bottom;
    transform: translateY(25%);
    transition: all 0.325s ease-in-out;

    &:hover {
      transform: translateY(0);
    }
  }
}
