@use "./../../../../app/shared/scss/templates/" as *;

footer {
  padding: $footerPadding;
  background-color: $primary;
  color: $background;
  width: 100%;
  margin: 0 auto;
  clip-path: polygon(0 0, 100% clamp(3rem, 8vw, 12rem), 100% 100%, 0 100%);
  gap: clamp(2rem, 2vw, 3rem);
  display: flex;
  flex-direction: column;

  .title {
    font-family: "Syne";
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 800;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  div {
    text-align: center;
  }

  .intro {
    color: $highlight;
    font-size: 2rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

.bottomContainer {
  @include dFlex($jc: space-between);

  img {
    height: 40px;
    width: 40px;
  }
}

.links {
  @include dFlex($fd: column, $gap: 8px);

  .socialContainer {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }

  a img {
    height: 24px;
    width: 24px;
  }

  .imprint {
    cursor: pointer;
    color: $background;
  }
}
