
<footer>

    <h2>
        {{ "contact.title" | translate }}
    </h2>

    <div class="intro">
        {{ "contact.intro" | translate }}
    </div>

    <div>
        {{ "contact.description" | translate }}
    </div>


    <app-contactform></app-contactform>


    <div class="bottomContainer">
        <img draggable="false" src="./assets/img/dhlogo.png" alt="">

        <div class="links">
            <div class="socialContainer">
                <a [href]="( 'myData.github' | translate )" target="_blank" rel="noopener noreferrer"><img draggable="false" src="./assets/icons/github.svg" alt=""></a>
                <a [href]="'mailto:' + ( 'myData.mail.mailaddress' | translate ) + '?subject=' + ( 'myData.mail.mailText' | translate )"><img draggable="false" src="./assets/icons/mail.svg" alt=""></a>
                <a [href]="('myData.linkedin' | translate )" target="_blank" rel="noopener noreferrer"><img draggable="false" src="./assets/icons/linkedin.svg" alt=""></a>
            </div>

            <a href="imprint" class="imprint">{{ "imprint.title" | translate }}</a>
        </div>
    </div>

</footer>
