<section #skillsSection id="skillsSection">
  <fieldset>
    <legend>
      <h2 class="sectionHeader">{{ "skills.title" | translate }}</h2>
    </legend>

    <div class="iconContainer">
      @for(tech of techStack; track tech) {
      <figure data-aos="flip-left" [attr.data-aos-delay]="techStack.indexOf(tech) * 100">
        <img draggable="false" src="./assets/icons/{{ tech.icon }}.svg" alt="{{ tech.name }}"/>
        <figcaption>{{ tech.name }}</figcaption>
      </figure>
      }
    </div>
  </fieldset>
</section>





<!-- <section #skillsSection id="skillsSection"></section>
  <fieldset class="container">
    <legend>
      <h2 class="sectionHeader">{{ "skills.title" | translate }}</h2>
    </legend>

  <div class="wrapper">
    @for(tech of techStack; track tech) {
    <div class="iconContainer" data-aos="flip-left" data-aos-offset="400" [attr.data-aos-delay]="techStack.indexOf(tech) * 100">
      <figure class="imgBx">
        <img draggable="false" src="./assets/icons/{{ tech.icon }}.svg" alt="{{ tech.name }}"/>
        <figcaption>{{ tech.name }}</figcaption>
      </figure>
    </div>
    }
  </div>
  </fieldset>
</section> -->
