@use "./../../../app/shared/scss/templates/" as *;

fieldset {
  border: $border;
  border-top-color: black;
  width: 100%;
  box-shadow: 5px 5px 15px 0px $details;
}

legend {
  text-align: center;
  padding: 0 1rem;

  .sectionHeader {
    @include sectionHeader();
  }
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 6vw, 6rem);
  padding: clamp(1rem, 6vw, 4rem) clamp(0rem, 1vw, 2rem);

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: clamp(5rem, 9vw, 9rem);

    &:hover {
      animation: pulse 1s infinite;
      transition: 0.3s;

      img {
        @include highlightFilter();
      }
    }

    img {
      height: $skillIconSize;
      transition: 0.3s;
      filter: drop-shadow(2px 2px 1px $details);
    }

    figcaption {
      text-align: center;
      @include skillsCaption();
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
