@use "./../../../app/shared/scss/templates/" as *;

section {
  padding: $sectionPaddingVertical;
}

fieldset {
  border: $border;
  border-top-color: black;
  width: 100%;
}

legend {
  text-align: center;
  padding: 0 1rem;

  .sectionHeader {
    @include sectionHeader();
  }
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 8vw, 7rem);
  padding: clamp(1rem, 6vw, 4rem) clamp(0rem, 1vw, 2rem);

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: clamp(5rem, 8vw, 12rem);

    img {
      height: $skillIconSize;
    }

    figcaption {
      text-align: center;
      @include skillsCaption();
    }
  }
}
