@use "./../variables" as *;

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

@mixin logo() {
  cursor: pointer;
  height: 2rem;
  transition: 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin button() {
  border: $border;
  padding: clamp(1rem, 1vw, 1.25rem) clamp(2rem, 5vw, 4rem);
  background-color: $background;
  box-shadow: 5px 5px 15px 0px $details;
  cursor: pointer;
  @include sectionText();

  &:hover {
    background-color: $details;
    font-weight: 700;
    transition: 0.125s ease-in-out, box-shadow 0.675s ease-out;
    padding: clamp(1rem, 1vw, 1.25rem) clamp(2rem, 6vw, 5rem);
  }
}

@mixin underlineHighlight() {
  display: inline-block;
  position: relative;
  transition: 0.2s;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $highlight;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

@mixin header() {
  font-family: "Syne";
  font-size: clamp(2.2rem, 9vw, 8rem);
  font-weight: 800;
  color: $primary;
}

@mixin subheaderName() {
  font-family: "Overpass";
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
  color: $highlight;
}

@mixin sectionHeader() {
  font-family: "Syne";
  font-size: clamp(2rem, 10vw, 4.875rem);
  font-weight: 800;
}

@mixin sectionText() {
  font-family: "Overpass";
  font-size: clamp(1rem, 2vw, 1.375rem);;
  font-weight: 400;
}

@mixin projectNumber() {
  font-family: "Syne";
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
}

@mixin projectHeader() {
  font-family: "Syne";
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 800;
}

@mixin projectTech() {
  font-family: "Overpass";
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  font-weight: 400;
}

@mixin skillsCaption() {
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 700;
}

@mixin legalHeader() {
  font-family: "Syne";
  font-size: clamp(1rem, 6vw, 4rem);
  font-weight: 800;
}
