@use "./../variables" as *;

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

@mixin button() {
  border: $border;
  padding: clamp(1rem, 1vw, 1.25rem) clamp(2rem, 6vw, 4rem);
  background-color: $background;
  box-shadow: 5px 5px 15px 0px $details;
  cursor: pointer;
  @include sectionText();

  &:hover {
    background-color: $details;
    font-weight: 700;
    transition: 0.125s ease-in-out, box-shadow 0.675s ease-out;
    padding: clamp(1rem, 1vw, 1.25rem) clamp(2rem, 5vw, 6rem);
  }
}

@mixin sectionHeader() {
  font-family: "Syne";
  font-size: $sectionHeaderFs;
  font-weight: 800;
  // line-height: 78px;
}

@mixin sectionText() {
  font-family: "Overpass";
  font-size: $sectionTextFs;
  font-weight: 400;
  // line-height: clamp(1.5rem, 3vw, 1.65rem);
}

@mixin skillsCaption() {
  font-family: "Overpass";
  font-size: 1rem;
  font-weight: 700;
  // line-height: 19.2px;
}

@mixin projectNumber() {
  font-family: "Syne";
  font-size: $projectNumberFs;
  font-weight: 700;
}

@mixin projectHeader() {
  font-family: "Syne";
  font-size: $projectHeaderFs;
  font-weight: 800;
}

@mixin projectTech() {
  font-family: "Overpass";
  font-size: $projectTechFs;
  font-weight: 400;
}
