// Colors
$background: #FFFCF3;
$primary: #181818;
$details: #f1dbc7;
$highlight: #FF9900;

// Spacing and Sizes
$headerHeight: clamp(4rem, 7vw, 6rem);
$popoverTopSpacing: clamp(1.3rem, 4vw, 6rem);
$mainPaddingHorizontal: clamp(0.75rem, 7vw, 6rem);
$sectionPaddingVertical: clamp(1rem, 2vw, 2rem);
$footerPadding: clamp(3rem, 7vw, 6rem) clamp(0.75rem, 7vw, 6rem);
$gapBigInSection: clamp(4rem, 6vw, 6rem);
$gapSmallInSection: clamp(2rem, 2vw, 3rem);

$legalpadding: $mainPaddingHorizontal $mainPaddingHorizontal 4rem $mainPaddingHorizontal;

// Other measurements
$border: 4px solid $primary;

// Media sizes
$photoSize: clamp(16rem, 40vw, 24rem);
$portfolioMediaSize: clamp(8rem, 26vw, 20rem);
$skillIconSize: clamp(3.75rem, 7vw, 8rem);

// Z-index
$zIndexHeader: 10000;
$zIndexPopover: 999;

:root {
  --headerHeight: #{$headerHeight};
  --popoverTopSpacing: #{$popoverTopSpacing};
}
