@use "./app/shared/scss/fonts.scss";
@use "./app/shared/scss/templates/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  background-image: radial-gradient(
    circle at 3rem 3rem,
    $details 0.1rem,
    transparent 0
  );
  background-size: 100px 100px;
  font-family: "Overpass";
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

body.popoverOpen {
  overflow: hidden;
  // position: fixed;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: $background;
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $highlight;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
